AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
BasedOnStyle: LLVM
BreakBeforeBraces: Stroustrup
IndentWidth: 4
